username = 'admin'
password = 'test123'
blog_name = 'txtblog'
text_dir = '/text/'
frontpage_item = 'Hello'
sidebar_statics = ['sidebar-test']
footer_text = '&copy;2013 Your Name - mail@example.com'
log_level = 'DEBUG'
page_post_limit = 2
